.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-items: stretch;
    margin-top: 20vh;
    margin-bottom: 20vh;
    margin-left: 30vw;
    margin-right: 30vw;
    height: 40vw;
    width: 40vw;
  }

  .item {
    display: grid;
    background-color: aquamarine;
    width: auto;
    height: auto;
    
  }

  .itemDarker {
    display: grid;
    background-color: cadetblue;
    width: auto;
    height: auto;
    
  }

  .btn {
    align-items: center;
  }

  .header {
      display: flex;
      justify-content: center;
  }